root {
    transition: background-color 0.3s ease;

}

/* Light Theme */
:root.light {
    --background-color: #f5f5f5; 
    --text-color: #111111;

    --correct-word-color: #008000;
    --incorrect-word-color: #e10000;

    --button-text-color: #ffffff;
    --button-background-color: #1473e6;
    --button-background-color-hovered: #0D66D0;

    --anchor-color: #515154;
    --anchor-color-hovered: #333333;

    --input-border-color: #d6d6d6; 
    --input-background-color: #fafafa;
    --input-text-color: #111111; 
    --input-placeholder-color: #838383; 
}

/* Dark Theme */
:root.dark {
    --background-color: #333333; 
    --text-color: #ffffff; 

    --correct-word-color: #00e500;
    --incorrect-word-color: #ff8100;

    --button-text-color: #ffffff;
    --button-background-color: #1473e6;
    --button-background-color-hovered: #0D66D0;

    --anchor-color: #c7c7c7;
    --anchor-color-hovered: #ffffff;

    --input-border-color: #d6d6d6;
    --input-background-color: #444;
    --input-text-color: #ffffff;
    --input-placeholder-color: #d6d6d6;

}



/* TODO add different themes. */

/* A collection of themes I liked:

:root.light {
    --background-color: #F2EDD7; 
    --text-color: #755139;

    --button-text-color: #F2EDD7;
    --button-background-color: #755139;
    --button-background-color-hovered: #5a3d29;

    --anchor-color: #755139;
    --anchor-color-hovered: #5a3d29;
}

:root.light {
    --background-color: #D7C49E; 
    --text-color: #343148;

    --button-text-color: #D7C49E;
    --button-background-color: #343148;
    --button-background-color-hovered: #5a3d29;

    --anchor-color: #262223;
    --anchor-color-hovered: #5a3d29;
}

:root.light {
    --background-color: #DDC6B6; 
    --text-color: #262223;

    --button-text-color: #DDC6B6;
    --button-background-color: #262223;
    --button-background-color-hovered: #5a3d29;

    --anchor-color: #262223;
    --anchor-color-hovered: #5a3d29;
}

I like this theme.  This could be one of them.
:root.light {
    --background-color: #F3EFEA; 
    --text-color: #331E05;

    --button-text-color: #F3EFEA;
    --button-background-color: #785429;
    --button-background-color-hovered: #63441d;

    --anchor-color: #785429;
    --anchor-color-hovered: #63441d;
}
*/

body {

    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    justify-content:space-between; /* Center the board horizontally on the page */
    margin: 0;
    min-height: 100vh;
    
    transition: background-color 0.3s ease;
    
    color: var(--text-color);
    background: var(--background-color);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}

h1 {
    /* TODO: Use a logo instead of fonts maybe? */
    font-family: 'Dancing Script', cursive;
    font-size: 3em; /* Maybe change this */
    margin: 0px;
    margin: 0px 30px 0px ;
  }

#headerRight {
    display: flex;
    align-items: center;

}

#contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex: 1; */

    direction: rtl;
}

footer {
    font-size: small;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a {
    color: var(--anchor-color);
    text-decoration: none; 

}

a:hover {
    color: var(--anchor-color-hovered);
    text-decoration: underline;
}

#Copyright {
    margin: 0px;
    color: var(--anchor-color);
}

#searchContainer {
    display: flex;
    gap: 5px;
}

/* Apply input styles */
input {
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
    color: var(--input-text-color);

    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Apply placeholder styles */
input::placeholder {
    color: var(--input-placeholder-color);
}

#inputField {
    min-width: 200px;
    max-width: 400px;
    height: 65px; /* Adjust the height as needed */

    margin: 10px;
    line-height: 5; 
    font-family: 'IslamicFont', sans-serif;  
    font-size: 34px;
}


button {

    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-background-color-hovered);
}

  @font-face {
    font-family: 'IslamicFonts';
    src: local('IslamicFonts'), /* Local reference */
         url('../../public/fonts/UthmanTN_v2-0.woff2') format('woff2'), /* Modern Browsers */
         url('../../public/fonts/UthmanTN_v2-0.woff') format('woff'), /* Less modern Browsers */
         url('../../public/fonts/UthmanTN_v2-0.ttf') format('ttf'); /* Safari, Android and iOS */
  }

  /* TODO */
  @font-face {
    font-family: 'IslamicFont';
    src: local('IslamicFont'), /* Local reference */
        /* url('../../public/fonts/TODO.woff2') format('woff2'), Modern Browsers */
        /* url('../../public/fonts/TODO.ttf') format('ttf'); Safari, Android and iOS */
         url('../../public/fonts/UthmaniHafs.woff') format('woff'); /* Less modern Browsers */
  }


#Quran-container {
    /* removed flex for now cos it messes up whitespace for copy and pasting divs */
    /* display: flex; */
    /* flex-direction: column; */
    /* text-align: right; */
    /* align-items: center; */


    /* TODO Basically each row is 60px (with font size of 34px). Not sure yet how many rows looks the best. */
    /* TODO Maybe also have it so it changes dynamically based on user preference? */
    /* height: 361px; For 6 rows. */
    height: 241px; /* For 4 rows */

    min-width: 300px;
    max-width: 800px;

    margin: 0px 20px 0px 10px;

    /* overflow: auto; */
    overflow: hidden;

    font-family: 'IslamicFont', sans-serif;  
    /* font-size: 42px; */
    /* font-size: 80px; */
    font-size: 34px;

}

.correctWord {
    color: var(--correct-word-color);
}

.incorrectWord {
    color: var(--incorrect-word-color);
}


#noTashkeelContainer {
    display: none;
}

#Surah-details {
    font-family: 'IslamicFont', sans-serif;  
    font-size:22px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10px;

}

#inputField {
    min-width: 200px;
    max-width: 400px;
    height: 65px; /* Adjust the height as needed */

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
    margin: 10px;
    line-height: 5; 
    font-family: 'IslamicFont', sans-serif;  
    font-size: 34px;
}



.configuration {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

/* idk if i want this to be fixed. It is good when it is flex */
/* .toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
} */

#dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

#light-mode-icon,
#dark-mode-icon {
    /* width: 48px;
    height: 48px; */

    width: 37px;
    height: 37px;
}


.dark-mode {
    background-color: #333;
    color: #fff;
}

.row {
    opacity: 1; /* Initially visible */
    transition: opacity 0.5s ease; /* Adding a transition effect on opacity change */
}


.loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.hidden {
    opacity:0;
}

.display-none {
    display: none;
}


#Quran-input-container {
    display: flex;
    justify-content: center;
}

#hideAyahsButton {
    margin:10px
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 500px) {
    header {
        flex-direction: column;
        gap: 20px;
    }

    #Quran-input-container {
        max-width: 250px
    }
}